<head>
<style>

body {
      background-color: Red;
}
h1 {
    text-align: center;
}
h3 {
    color: blue;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    text-align: center;
}

</style>
