#subtitle3 {
  position: relative;
  left: 560px;
  top: 100px;
  color: silver;
  font-size: 57px;
  font-family: BEYNO;
  transform: rotate(-7deg);
  text-shadow: -3px -3px purple;
}

 nav.pg3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: silver;
}

 nav.pg3 li {
    float: left;
    font-size: 20px;
}

 nav.pg3 li a, .dropbtn3 {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Merienda;
}

 nav.pg3 li a:hover, .dropdown3:hover .dropbtn3 {
    background-color: purple;
}

 nav.pg3 li.dropdown3 {
    display: inline-block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: silver;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
}

.dropdown-content3 a:hover {background-color: purple}

.dropdown3:hover .dropdown-content3 {
    display: block;
}
