#img1 {
  width: 450px;
  height: auto;
  position: absolute;
  right: 60px;
  bottom: 50px;
}
#img2 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 345px;
}
#img2-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img3 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 345px;
}
#img3-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img4 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 375px;
}
#img4-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img5 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 375px;
}
#img5-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img6 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 375px;
}
#img6-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img7 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 375px;
}
#img7-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img8 {
  width: auto;
  height: 450px;
  position: absolute;
  left: 375px;
}
#img8-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img9 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 375px;
}
#img9-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img10 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 375px;
}
#img10-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
  image-rendering: pixelated;
}
#img11 {
  width:60px;
  height: auto;
  position: absolute;
  left: 450px;
}
#img11-2 {
  width: auto;
  height: 400px;
  position: absolute;
  right: 220px;
}
#img12 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 375px;
}
#img12-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img13 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 375px;
}
#img13-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
#img14 {
  width: auto;
  height: 500px;
  position: absolute;
  left: 375px;
}
#img14-2 {
  width: 700px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  right: 60px;
}
